<h1 align="center">Lista de Clientes</h1>
<table class="table table-hover" id="listaClientes">
    <tr class="table-primary">
        <th scope="row">Nombre Cliente</th>
        <td>Dirección</td>
        <td>Fecha de nacimiento</td>
        <td>Correo electronico</td>
        <td>Número de telefono</td>
    </tr>
    <tr class="table-secondary">
        <td>Ejemplo de persona </td>
        <td>Ejemplo de direccion</td>
        <td>Ejemplo de fecha de nacimiento</td>
        <td>Ejemplo de correo</td>
        <td>Ejemplo de numero</td>
    </tr>
</table>