<h1 align="center">Lista de Clientes</h1>
<table class="table table-hover">
    <tr class="table-primary">
      <th scope="row">Nombre Cliente</th>
      <td>Dirección</td>
      <td>Fecha de nacimiento</td>
      <td>Correo electronico</td>
      <td>Número de telefono</td>
    </tr>
    <tr class="table-secondary">
      <td>Pedro Daniel Euan Chan</td>
      <td>Calle 84 x 11A-1 #521 Residencial pensiones Vll etapa</td>
      <td>01/04/1999</td>
      <td>pd.ani99hotmail.com</td>
      <td>99-91-75-12-95</td>
    </tr>
    <tr class="table-secondary">
      <td>Jorge Arturo Aguilar Solis</td>
      <td>Por el parque de las americas xd</td>
      <td>20/06/1998</td>
      <td>arturo@hotmail.com</td>
      <td>99-92-85-54-54</td>
    </tr>
  </table>