<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeEZ</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">VeEZ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#ventas">Ventas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Clientes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#clientesRegistrar">Registrar Cliente</a>
                            <a class="dropdown-item" href="#clientesLista">Lista de Clientes(Ver, Editar, Borrar)</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Proveedores</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#proveedoresRegistrar">Registrar Proveedor</a>
                            <a class="dropdown-item" href="#proveedoresLista">Lista de Proveedores(Ver, Editar, Borrar)</a>
                            <a class="dropdown-item" href="#listaDeProductos">Subir lista de productos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Productos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#productoRegistrar">Registrar Producto</a>
                            <a class="dropdown-item" href="#productoLista">Lista de Productos(Ver, Editar, Borrar)</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id=inicioapp>
        <h1>Buenos dias :)</h1>
    </div>
    <div class='c1'>
        <div id='content'>
        </div>
    </div>
</body>

</html>
<script>
    var home = ""
    var ventas = ""
    var clientesRegistrar = ""
    var clientesLista = ""
    var proveedoresRegistrar = ""
    var proveedoresLista = ""
    var listaDeProductos = ""
    var productoRegistrar = ""
    var productoLista = ""

    async function loadHtmlFiles() {
        const [homeResponse, ventasResponse, clientesRegistrarResponse, clientesListaResponse, proveedoresRegistrarResponse, proveedoresListaResponse, listaDeProductosResponse, productoRegistrarResponse, productoListaResponse] = await Promise.all([
            fetch('./home.html'),
            fetch('./ventas.html'),
            fetch('./clientesRegistrar.html'),
            fetch('./clientesLista.html'),
            fetch('./proveedoresRegistrar.html'),
            fetch('./proveedoresLista.html'),
            fetch('./listaDeProductos.html'),
            fetch('./productoRegistrar.html'),
            fetch('./productoLista.html'),
        ]);

        home = await homeResponse.text();
        ventas = await ventasResponse.text();
        clientesRegistrar = await clientesRegistrarResponse.text();
        clientesLista = await clientesListaResponse.text();
        proveedoresRegistrar = await proveedoresRegistrarResponse.text();
        proveedoresLista = await proveedoresListaResponse.text();
        listaDeProductos = await listaDeProductosResponse.text();
        productoRegistrar = await productoRegistrarResponse.text();
        productoLista = await productoListaResponse.text();
    }

    loadHtmlFiles()
    async function loadContent(event) {
        var x = document.getElementById("inicioapp");
        x.style.display = "none";
        if (event) event.preventDefault();
        if (location.hash == "#/") {
            document.getElementById("content").innerHTML = home
        }
        if (location.hash == "#ventas") {
            document.getElementById("content").innerHTML = ventas
        }
        if (location.hash == "#clientesRegistrar") {
            document.getElementById("content").innerHTML = clientesRegistrar
        }
        if (location.hash == "#clientesLista") {
            document.getElementById("content").innerHTML = clientesLista
            ipcRenderer.send("obtenerClientes", "obtenerClientes");
        }
        if (location.hash == "#proveedoresRegistrar") {
            document.getElementById("content").innerHTML = proveedoresRegistrar
        }
        if (location.hash == "#proveedoresLista") {
            document.getElementById("content").innerHTML = proveedoresLista
        }
        if (location.hash == "#listaDeProductos") {
            document.getElementById("content").innerHTML = listaDeProductos
        }
        if (location.hash == "#productoRegistrar") {
            document.getElementById("content").innerHTML = productoRegistrar
        }
        if (location.hash == "#productoLista") {
            document.getElementById("content").innerHTML = productoLista
        }
    }

    window.onhashchange = function() {
        loadContent();
    }

    const electron = require('electron');
    const ipcRenderer = electron.ipcRenderer;

    function goToMenu() {
        location.href = '#/';
    }

    const nombreClienteIndex = 0
    const direccionClienteIndex = 1
    const fechaClienteIndex = 2
    const correoClienteIndex = 3
    const numeroClienteIndex = 4

    function editarCliente(cellContents) {
        var fila = cellContents.parentNode.parentNode
        var nombre = fila.cells[nombreClienteIndex].outerText
        var dir = fila.cells[direccionClienteIndex].outerText
        var date = fila.cells[fechaClienteIndex].outerText
        var mail = fila.cells[correoClienteIndex].outerText
        var tel = fila.cells[numeroClienteIndex].outerText
        ipcRenderer.send("editarCliente", {
            "nombre": nombre,
            "dir": dir,
            "date": date,
            "mail": mail,
            "tel": tel
        });
    }

    function eliminarCliente(cellContents) {
        console.log(cellContents)
        var fila = cellContents.parentNode.parentNode
        var idFila = fila.rowIndex
        console.log(fila)
        var correo = fila.cells[correoClienteIndex].outerText
        document.getElementById("listaClientes").deleteRow(idFila);
        ipcRenderer.send("borrarCliente", correo);
    }

    function registrarCliente() {
        nombre = document.getElementById("floatingnombre").value;
        dir = document.getElementById("floatingdireccion").value;
        date = document.getElementById("floatingDate").value;
        mail = document.getElementById("floatingMail").value;
        tel = document.getElementById("floatingtel").value;
        ipcRenderer.send("registrarCliente", {
            "nombre": nombre,
            "dir": dir,
            "date": date,
            "mail": mail,
            "tel": tel
        });
        goToMenu();
        Swal.fire(
            'Success',
            'Cliente creado',
            'success'
        )
    }

    ipcRenderer.on('listaClientes', (event, data) => {
        var result = `
        <h1 align="center">Lista de Clientes</h1>
        <table class="table table-hover" id="listaClientes">
        <tr class="table-primary">
        <th scope="row">Nombre Cliente</th>
        <td>Dirección</td>
        <td>Fecha de nacimiento</td>
        <td>Correo electronico</td>
        <td>Número de telefono</td>
        <td>Acciones</td>
        </tr>`
        data.forEach((cliente, index) => {
            result = result + `
            <tr class="table-secondary">
            <td contenteditable='true'>${cliente.nombre}</td>
            <td contenteditable='true'>${cliente.direccion}</td>
            <td contenteditable='true'>${cliente.fechaNacimiento}</td>
            <td contenteditable='false'>${cliente.correo}</td>
            <td contenteditable='true'>${cliente.numero}</td>
            <td contenteditable='false'><button type="button" onclick="editarCliente(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarCliente(this)" class="btn btn-danger">Borrar</button></td>
            </tr>`
        })
        result = result + `</table>`
        document.getElementById("content").innerHTML = result;
    });
</script>