<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeEZ</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">VeEZ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#ventas">Ventas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Clientes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#clientesRegistrar">Registrar Cliente</a>
                            <a class="dropdown-item" href="#clientesLista">Lista de Clientes(Ver, Editar, Borrar)</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Proveedores</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#proveedoresRegistrar">Registrar Proveedor</a>
                            <a class="dropdown-item" href="#proveedoresLista">Lista de Proveedores(Ver, Editar, Borrar)</a>
                            <a class="dropdown-item" href="#listaDeProductos">Subir lista de productos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion de Productos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#productoRegistrar">Registrar Producto</a>
                            <a class="dropdown-item" href="#productosLista">Lista de Productos(Ver, Editar, Borrar)</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id=inicioapp>
        <h4 id="greeting">👻 Bienvenido!</h4>
    </div>
    <div class='c1'>
        <div id='content'>
        </div>
    </div>
</body>

</html>
<script>
    const electron = require('electron');
    const ipcRenderer = electron.ipcRenderer;

    //Region navegacion----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    var home, ventas, clientesRegistrar, clientesLista = ""
    var proveedoresRegistrar, proveedoresLista, listaDeProductos = ""
    var productoRegistrar, productosLista = ""

    async function loadHtmlFiles() {
        const [homeResponse, ventasResponse, clientesRegistrarResponse, clientesListaResponse,
            proveedoresRegistrarResponse, proveedoresListaResponse, listaDeProductosResponse,
            productoRegistrarResponse, productoListaResponse
        ] = await Promise.all([
            fetch('./home.html'),
            fetch('./ventas.html'),
            fetch('./clientesRegistrar.html'),
            fetch('./clientesLista.html'),
            fetch('./proveedoresRegistrar.html'),
            fetch('./proveedoresLista.html'),
            fetch('./listaDeProductos.html'),
            fetch('./productoRegistrar.html'),
            fetch('./productosLista.html'),
        ]);
        home = await homeResponse.text();
        ventas = await ventasResponse.text();
        clientesRegistrar = await clientesRegistrarResponse.text();
        clientesLista = await clientesListaResponse.text();
        proveedoresRegistrar = await proveedoresRegistrarResponse.text();
        proveedoresLista = await proveedoresListaResponse.text();
        listaDeProductos = await listaDeProductosResponse.text();
        productoRegistrar = await productoRegistrarResponse.text();
        productosLista = await productoListaResponse.text();
    }
    loadHtmlFiles();

    window.onhashchange = function() {
        var x = document.getElementById("inicioapp");
        x.style.display = "none";
        if (event) event.preventDefault();

        //caso home
        if (location.hash == "#/") {
            document.getElementById("content").innerHTML = home
            return;
        }

        //caso general
        locName = location.hash.replace("#", "")
        document.getElementById("content").innerHTML = window[locName] //window[locName] obtiene una variable con su nombre y los nombres de las variables son iguales a las navegacionesHash
        ipcRenderer.send(locName, locName);
    }

    function goToMenu() {
        location.href = '#/';
    }
    //endregion----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    //region crud cliente----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    const nombreClienteIndex = 0
    const direccionClienteIndex = 1
    const fechaClienteIndex = 2
    const correoClienteIndex = 3
    const numeroClienteIndex = 4

    function editarCliente(cellContents) {
        var fila = cellContents.parentNode.parentNode
        var nombre = fila.cells[nombreClienteIndex].outerText
        var dir = fila.cells[direccionClienteIndex].outerText
        var date = fila.cells[fechaClienteIndex].outerText
        var mail = fila.cells[correoClienteIndex].outerText
        var tel = fila.cells[numeroClienteIndex].outerText
        ipcRenderer.send("editarCliente", {
            "nombre": nombre,
            "dir": dir,
            "date": date,
            "mail": mail,
            "tel": tel
        });
        Swal.fire(
            'Success',
            'Cliente editado',
            'success'
        )
    }

    function eliminarCliente(cellContents) {
        console.log(cellContents)
        var fila = cellContents.parentNode.parentNode
        var idFila = fila.rowIndex
        console.log(fila)
        var correo = fila.cells[correoClienteIndex].outerText
        document.getElementById("listaClientes").deleteRow(idFila);
        ipcRenderer.send("borrarCliente", correo);
    }

    function registrarCliente() {
        nombre = document.getElementById("floatingnombre").value;
        dir = document.getElementById("floatingdireccion").value;
        date = document.getElementById("floatingDate").value;
        mail = document.getElementById("floatingMail").value;
        tel = document.getElementById("floatingtel").value;
        ipcRenderer.send("registrarCliente", {
            "nombre": nombre,
            "dir": dir,
            "date": date,
            "mail": mail,
            "tel": tel
        });
        goToMenu();
        Swal.fire(
            'Success',
            'Cliente creado',
            'success'
        )
    }

    ipcRenderer.on('clientesLista', (event, data) => {
        if (data && data.length > 0) {
            var result = `
            <h1 align="center">Lista de Clientes</h1>
            <table class="table table-hover" id="listaClientes">
            <tr class="table-primary">
            <th scope="row">Nombre Cliente</th>
            <td>Dirección</td>
            <td>Fecha de nacimiento</td>
            <td>Correo electronico</td>
            <td>Número de telefono</td>
            <td>Acciones</td>
            </tr>`
            data.forEach((cliente, index) => {
                result = result + `
            <tr class="table-secondary">
            <td contenteditable='true'>${cliente.nombre}</td>
            <td contenteditable='true'>${cliente.direccion}</td>
            <td contenteditable='true'>${cliente.fechaNacimiento}</td>
            <td contenteditable='false'>${cliente.correo}</td>
            <td contenteditable='true'>${cliente.numero}</td>
            <td contenteditable='false'><button type="button" onclick="editarCliente(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarCliente(this)" class="btn btn-danger">Borrar</button></td>
            </tr>`

            })
            result = result + `</table>`
            document.getElementById("content").innerHTML = result;
        }
    });
    //endregion----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    //region crud proveedor----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    const nombreProveedorIndex = 0
    const direccionProveedorIndex = 1
    const correoProveedorIndex = 2
    const numeroProveedorIndex = 3

    function editarProveedor(cellContents) {
        var fila = cellContents.parentNode.parentNode
        var nombre = fila.cells[nombreProveedorIndex].outerText
        var dir = fila.cells[direccionProveedorIndex].outerText
        var mail = fila.cells[correoProveedorIndex].outerText
        var tel = fila.cells[numeroProveedorIndex].outerText
        ipcRenderer.send("editarProveedor", {
            "nombre": nombre,
            "dir": dir,
            "mail": mail,
            "tel": tel
        });
        Swal.fire(
            'Success',
            'Proveedor editado',
            'success'
        )
    }

    function eliminarProveedor(cellContents) {
        console.log(cellContents)
        var fila = cellContents.parentNode.parentNode
        var idFila = fila.rowIndex
        console.log(fila)
        var correo = fila.cells[correoProveedorIndex].outerText
        document.getElementById("listaProveedores").deleteRow(idFila);
        ipcRenderer.send("borrarProveedor", correo);
    }

    function registrarProveedor() {
        nombre = document.getElementById("floatingnombre").value;
        dir = document.getElementById("floatingdireccion").value;
        mail = document.getElementById("floatingMail").value;
        tel = document.getElementById("floatingtel").value;
        ipcRenderer.send("registrarProveedor", {
            "nombre": nombre,
            "dir": dir,
            "mail": mail,
            "tel": tel
        });
        goToMenu();
        Swal.fire(
            'Success',
            'Proveedor creado',
            'success'
        )
    }

    ipcRenderer.on('proveedoresLista', (event, data) => {
        if (data && data.length > 0) {
            var result = `
            <h1 align="center">Lista de Proveedores</h1>
            <table class="table table-hover" id="listaProveedores">
            <tr class="table-primary">
            <th scope="row">Nombre de Empresa/Proveedor</th>
            <td>Dirección</td>
            <td>Correo electronico</td>
            <td>Número de telefono</td>
            <td>Acciones</td>        
            </tr>`
            data.forEach((proveedor, index) => {
                result = result + `
            <tr class="table-secondary">
            <td contenteditable='true'>${proveedor.nombre}</td>
            <td contenteditable='true'>${proveedor.direccion}</td>
            <td contenteditable='false'>${proveedor.correo}</td>
            <td contenteditable='true'>${proveedor.numero}</td>
            <td contenteditable='false'><button type="button" onclick="editarProveedor(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarProveedor(this)" class="btn btn-danger">Borrar</button></td>
            </tr>`
            })
            result = result + `</table>`
            document.getElementById("content").innerHTML = result;
        }
    });
    //endregion----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    //region crud producto----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    const idProductoIndex = 0
    const nombreProductoIndex = 1
    const descProductoIndex = 2
    const categProductoIndex = 3
    const precioCompraProductoIndex = 4
    const precioVentaProductoIndex = 5
    const unidadesProductoIndex = 6
    const uomProductoIndex = 7

    function editarProducto(cellContents) {
        var fila = cellContents.parentNode.parentNode
        var id = fila.cells[idProductoIndex].outerText
        var nombre = fila.cells[nombreProductoIndex].outerText
        var desc = fila.cells[descProductoIndex].outerText
        var categ = fila.cells[categProductoIndex].outerText
        var precioCompra = fila.cells[precioCompraProductoIndex].outerText
        var precioVenta = fila.cells[precioVentaProductoIndex].outerText
        var unidades = fila.cells[unidadesProductoIndex].outerText
        var uom = fila.cells[uomProductoIndex].outerText

        ipcRenderer.send("editarProducto", {
            "id": id,
            "nombre": nombre,
            "desc": desc,
            "categ": categ,
            "pCompra": 0,
            "pVenta": precioVenta,
            "unidades": 0,
            "uom": uom
        });
        Swal.fire(
            'Success',
            'Producto editado',
            'success'
        )
    }

    function eliminarProducto(cellContents) {
        console.log(cellContents)
        var fila = cellContents.parentNode.parentNode
        var idFila = fila.rowIndex
        console.log(fila)
        var id = fila.cells[idProductoIndex].outerText
        document.getElementById("listaProductos").deleteRow(idFila);
        ipcRenderer.send("borrarProducto", id);
    }

    function registrarProducto() {
        id = document.getElementById("floatingid").value;
        nombre = document.getElementById("floatingnombre").value;
        desc = document.getElementById("floatingdescripcion").value;
        categ = document.getElementById("floatingcategoria").value;
        precioVenta = document.getElementById("floatingventa").value;
        uom = document.getElementById("floatinguom").value;
        ipcRenderer.send("registrarProducto", {
            "id": id,
            "nombre": nombre,
            "desc": desc,
            "categ": categ,
            "pCompra": 0,
            "pVenta": precioVenta,
            "unidades": 0,
            "uom": uom
        });
        goToMenu();
        Swal.fire(
            'Success',
            'Producto creado',
            'success'
        )
    }

    ipcRenderer.on('productosLista', (event, data) => {
        if (data && data.length > 0) {
            var result = `
            <h1 align="center">Lista de Productos</h1>
            <table class="table table-hover" id="listaProductos">
            <tr class="table-primary">
            <th scope="row">ID del producto</th>
            <td>Nombre del producto</td>
            <td>Descripción</td>
            <td>Categoría</td>
            <td>Precio de compra</td>
            <td>Precio de venta</td>
            <td>Unidades</td>
            <td>Unidad de medida</td>
            <td>Acciones</td>
            </tr>`
            data.forEach((producto, index) => {
                result = result + `
            <tr class="table-secondary">
            <td contenteditable='false'>${producto.id}</td>
            <td contenteditable='true'>${producto.nombre}</td>
            <td contenteditable='true'>${producto.descripcion}</td>
            <td contenteditable='true'>${producto.categoria}</td>
            <td contenteditable='true'>${producto.precio_compra}</td>
            <td contenteditable='true'>${producto.precio_venta}</td>
            <td contenteditable='true'>${producto.unidades}</td>
            <td contenteditable='true'>${producto.uom}</td>
            <td contenteditable='false'><button type="button" onclick="editarProducto(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarProducto(this)" class="btn btn-danger">Borrar</button></td>
            </tr>`
            })
            result = result + `</table>`
            document.getElementById("content").innerHTML = result;
        }
    });
    //endregion----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</script>