<h1 align="center">Lista de Productos</h1>
<table class="table table-hover" id="listaProductos">
    <tr class="table-primary">
        <th scope="row">ID del producto</th>
        <td>Nombre del producto</td>
        <td>Descripción</td>
        <td>Categoría</td>
        <td>Precio de compra</td>
        <td>Precio de venta</td>
        <td>Unidades</td>
        <td>Unidad de medida</td>
        <td>Acciones</td>
    </tr>
    <tr class="table-secondary">
        <td>TakisFue55</td>
        <td>Takis</td>
        <td>Envoltura morada</td>
        <td>Botana</td>
        <td>$100</td>
        <td>$15</td>
        <td>20</td>
        <td>Gramos</td>
        <td contenteditable='false'><button type="button" onclick="editarProducto(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarProducto(this)" class="btn btn-danger">Borrar</button></td>
    </tr>

</table>