<h1 align="center">Lista de Productos</h1>
<table class="table table-hover">
    <tr class="table-primary">
      <th scope="row">Nombre del producto</th>
      <td>Descripción</td>
      <td>Categoría</td>
      <td>Precio de compra</td>
      <td>Precio de venta</td>
      <td>Unidades</td>
      <td>Proveedor</td>
      <td>Unidad de medida</td>
    </tr>
    <tr class="table-secondary">
      <td>Takis</td>
      <td>Envoltura morada</td>
      <td>Botana</td>
      <td>$100</td>
      <td>$15</td>
      <td>20</td>
      <td>Barcel</td>
      <td>Gramos?</td>
    </tr>
    <tr class="table-secondary">
        <td>Sabritas clasicas</td>
        <td>Envoltura amarilla</td>
        <td>Botana</td>
        <td>$100</td>
        <td>$15</td>
        <td>20</td>
        <td>Sabritas</td>
        <td>Gramos?</td>
    </tr>
  </table>