<h1 align="center">Lista de Proveedores</h1>
<table class="table table-hover" id="listaProveedores">
    <tr class="table-primary">
        <th scope="row">Nombre de Empresa/Proveedor</th>
        <td>Dirección</td>
        <td>Correo electronico</td>
        <td>Número de telefono</td>
        <td>Acciones</td>
    </tr>
    <tr class="table-secondary">
        <td>Coca cola</td>
        <td>direccion direccion direccion direccion</td>
        <td>cocacola@hotmail.com</td>
        <td>99-91-26-47-95</td>
        <td contenteditable='false'><button type="button" onclick="editarProveedor(this)" class="btn btn-warning">Editar</button><button type="button" onclick="eliminarProveedor(this)" class="btn btn-danger">Borrar</button></td>
    </tr>
</table>