<div class=tablaprecios>
    <table class="table table-hover">
        <tr class="table-success">
            <th scope="row">Producto</th>
            <td>Cantidad</td>
            <td>Precio</td>
            <td>Subtotal</td>
        </tr>
        <tr class="table-dark">
            <td>Takis fuego que rico</td>
            <td>20</td>
            <td>$8</td>
            <td>$160</td>
        </tr>
        <tr class="table-dark">
            <td>Palomitas actll</td>
            <td>5</td>
            <td>$15</td>
            <td>$75</td>
        </tr>
        <tr class="table-dark">
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
        </tr>
        <tr class="table-dark">
            <td></td>
            <td></td>
            <td></td>
            <td>$235</td>
        </tr>
    </table>
</div>
<button type="button" class="btn btn-success">Cobrar</button>

<button type="button" class="btn btn-danger">Reiniciar</button>