#floatingInput,
floatingDate,
floatingMail {
    width: 250px;
    margin: 20px 0;
    box-sizing: border-box;
}

#greeting {
    padding-top: 10%;
    padding-left: 45%;
    margin: auto;
}

#floatingPassword {
    width: 250px;
    margin: 20px 0;
    box-sizing: border-box;
}

#floatingnombre {
    width: 250px;
    margin: 20px 0;
    box-sizing: border-box;
}

.form-group {
    position: absolute;
    top: 10%;
    left: 44%;
}

#listaClientes .btn.btn-warning,
#listaClientes .btn.btn-danger,
#listaProveedores .btn.btn-warning,
#listaProveedores .btn.btn-danger,
#listaProductos .btn.btn-warning,
#listaProductos .btn.btn-danger {
    margin-right: 2%;
    width: 48%;
}

.tablaprecios table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.btn.btn-success {
    position: relative;
    left: 65%;
}

#botonCancelar {
    position: relative;
    left: -37%;
}